* {
    box-sizing: border-box;
}

body {
    background-color: #202124;
    color: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.navigation-wrapper {
    background-color: rgba(25, 26, 28, 0);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 999;
    transition: 0.4s;
}
.navigation-wrapper.scrolled {
    background-color: rgba(25, 26, 28, 1);
}
.navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}
.nav-left {
    display: flex;
    align-items: center;
}
.navigation-content h3 {
    color: #00ceff;
    text-transform: uppercase;
    margin: 0 30px 0 0;
}
.navigation-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation-content ul li {
    display: inline-block;
    margin-right: 30px;
}
.navigation-content ul li a {
    font-size: 15px;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 30px 10px;
    margin-bottom: -1px;
    opacity: 1;
    transition: 0.4s;
}
.navigation-content ul li a:hover {
    opacity: 0.6;
}
.navigation-content ul li a.active {
    border-bottom: 1px solid #00ceff;
}
.header-start-wrapper {
    background-image: url('../../public/violet-evergarden-background.jpg');
    background-size: cover;
    position: relative;
}
.header-start-wrapper .overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.header-start-content {
    display: flex;
    position: relative;
    padding-top: 200px;
    width: 100%;
    max-width: 1280px;
    padding: 200px 40px 100px 40px;
    margin: 0 auto;
    z-index: 2;
}

.main-content-wrapper {
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
    margin: 100px auto 0 auto;
}

.anime-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.anime-card {
    width: 25%;
}
