/* ---------- Global ---------- */
* {
    box-sizing: border-box;
}

body {
    background-color: #202124;
    color: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
/* ---------- Button ---------- */
.btn {
    background-color: #00ceff;
    color: #191a1c;
    padding: 14px 30px;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    transition: 0.4s;

    &:hover {
        background-color: darken(#00ceff, 10%);
    }
}

/* ---------- Navigation ---------- */
.navigation-wrapper {
    background-color: rgba(25, 26, 28, 0);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 999;
    transition: 0.4s;

    &.scrolled {
        background-color: rgba(25, 26, 28, 1);
    }

    .navigation-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1400px;
        padding: 0 50px;
        margin: 0 auto;

        .nav-left {
            display: flex;
            align-items: center;
        }

        .nav-right {
            ul {
                li {
                    margin-right: 0;
                    margin-left: 30px;

                    a {
                        display: flex;
                        align-items: center;
                        height: 79px;
                        padding: 28px 10px;
                    }
                }
            }
        }

        h3 {
            color: #00ceff;
            text-transform: uppercase;
            margin: 0 30px 0 0;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 30px;

                a {
                    font-size: 15px;
                    color: #fff;
                    display: block;
                    text-decoration: none;
                    padding: 30px 10px;
                    margin-bottom: -1px;
                    opacity: 1;
                    transition: 0.4s;
                    border-bottom: 1px solid transparent;

                    .nav-icon {
                        vertical-align: text-bottom;
                        margin-left: 8px;
                    }

                    &.active {
                        border-color: #00ceff;
                    }

                    &:hover {
                        border-color: #fff;

                        &.active {
                            border-color: #00ceff;
                        }
                    }
                }
            }
        }
    }
}
/* ---------- Header startpage  ---------- */
.header-start-wrapper {
    background-image: url('../../public/violet-evergarden-background2.jpg');
    background-size: cover;
    position: relative;

    .overlay {
        background-color: rgba(0, 0, 0, 0.75);
        background: linear-gradient(0deg, rgba(32,33,36,1) 1%, rgba(32,33,36,0.8) 20%, rgba(32,33,36,0.75) 60%, rgba(32,33,36,0.6) 90%);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    .header-start-content {
        display: flex;
        position: relative;
        padding-top: 200px;
        width: 100%;
        max-width: 1400px;
        padding: 190px 50px 120px 50px;
        margin: 0 auto;
        z-index: 2;

        .anime-image {
            background-size: cover;
            background-position: center;
            width: 320px;
            aspect-ratio: 8 / 11;
            border-radius: 10px;
            margin-right: 50px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.1);
        }

        .information {
            max-width: 700px;
            margin-top: 10px;
            flex: 1;

            .year {
                letter-spacing: 4px;
            }

            h2 {
                font-size: 46px;
                margin: 15px 0 10px 0;
            }

            h3 {
                font-weight: 400;
                margin: 0 0 30px;
            }

            .genre {
                span {
                    display: inline-block;
                    margin-right: 10px;

                    .dot {
                        margin-left: 8px;
                        vertical-align: text-top;
                    }

                    &:last-child {
                        .dot {
                            display: none;
                        }
                    }
                }
            }

            p {
                line-height: 1.6;
                margin: 30px 0;
            }

            .extra {
                display: flex;
                margin-bottom: 30px;

                div {
                    display: flex;
                    align-items: center;
                    margin-right: 40px;

                    .icon {
                        margin-right: 8px;
                    }

                }
            }
        }
    }
}

/* ---------- Main content  ---------- */
.main-content-wrapper {
    width: 100%;
    max-width: 1400px;
    padding: 0 50px;
    margin: 100px auto 0 auto;
}

/* ---------- Animelist  ---------- */
.anime-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.anime-card {
    color: #ffffff;
    text-decoration: none;
    width: calc(20% - 20px);
    margin-bottom: 40px;
    position: relative;

    .anime-image {
        background-size: cover;
        background-position: center;
        width: 100%;
        aspect-ratio: 8 / 11;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 0 6px 3px rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 2;

        &.hover-background-img {
            filter: blur(20px) saturate(150%);
            position: absolute;
            top: 0;
            z-index: 1;
            opacity: 0;
            transition: linear 0.2s;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 14px 0 8px 0;
    }

    .info-wrapper {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 14px;
            display: block;
            opacity: 0.5;
        }

    }

    &:hover {
        .anime-image {
            &.hover-background-img {
                opacity: 1;
            }
        }
    }
}
