/* ---------- Global ---------- */
* {
    box-sizing: border-box;
}

body {
    background-color: #202124;
    color: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
hr {
    margin: 40px 0;
    border-color: rgba(255, 255, 255, 0.2);
}
/* ---------- Button ---------- */
a {
    color: #00ceff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.btn {
    background-color: #00ceff;
    color: #191a1c;
    font-size: 16px;
    padding: 14px 30px;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;

    &.btn-border {
        background-color: transparent;
        color: #00ceff;
        border: 1px solid #00ceff;
    }

    span, .icon {
        vertical-align: middle;
    }

    &:hover {
        background-color: darken(#00ceff, 10%);
        text-decoration: none;
    }
}

/* ---------- Navigation ---------- */
.navigation-wrapper {
    background-color: rgba(25, 26, 28, 0);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 999;
    transition: 0.2s;

    &.scrolled {
        background-color: rgba(25, 26, 28, 1);
    }

    .navigation-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1400px;
        padding: 0 50px;
        margin: 0 auto;

        .nav-left {
            display: flex;
            align-items: center;
        }

        .nav-right {
            ul {
                li {
                    margin-right: 0;
                    margin-left: 30px;

                    a {
                        display: flex;
                        align-items: center;
                        height: 79px;
                        padding: 28px 10px;
                    }
                }
            }
        }

        h3 {
            color: #00ceff;
            text-transform: uppercase;
            margin: 0 30px 0 0;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 30px;

                a {
                    font-size: 15px;
                    color: #fff;
                    display: block;
                    text-decoration: none;
                    padding: 30px 10px;
                    margin-bottom: -1px;
                    opacity: 1;
                    transition: 0.4s;
                    border-bottom: 1px solid transparent;

                    .nav-icon {
                        vertical-align: text-bottom;
                        margin-left: 8px;
                    }

                    &.active {
                        border-color: #00ceff;
                    }

                    &:hover {
                        border-color: #fff;

                        &.active {
                            border-color: #00ceff;
                        }
                    }
                }
            }
        }
    }
}
/* ---------- Header anime  ---------- */
.header-anime-wrapper {
    /* ----- Generic background  ----- */
    background-image: url('../../public/generic-background.jpg');
    background-size: cover;
    position: relative;

    /* Drama & Slice of life background */
    &.genre-8, &.genre-36 {
        background-image: url('../../public/drama-background.png');
    }
    /* Mystery background  */
    &.genre-7 {
        background-image: url('../../public/mystery-background2.jpg');
    }
    /* Romance background  */
    &.genre-22 {
        background-image: url('../../public/romance-background.jpg');
    }
    /* Sci-Fi background  */
    &.genre-24 {
        background-image: url('../../public/sci-fi-background.jpg');
    }
    /* Adventure background */
    &.genre-2 {
        background-image: url('../../public/adventure-background.jpg');
    }
    /* Fantasy background */
    &.genre-10 {
        background-image: url('../../public/fantasy-background.png');
    }
    /* Action background */
    &.genre-1 {
        background-image: url('../../public/action-background.jpg');
    }
    /* Violet Evergarden background  */
    &.anime-33352 {
        background-image: url('../../public/violet-evergarden-background2.jpg');
    }
    /* Attack on Titan background  */
    &.anime-16498 {
        background-image: url('../../public/attack-on-titan-background.jpg');
    }
    /* Vinland Saga background  */
    &.anime-37521 {
        background-image: url('../../public/vinland-saga-background.jpg');
    }
    /* Haikyu!! background  */
    &.anime-20583 {
        background-image: url('../../public/haikyu-background.jpg');
    }
    /* Steins Gate background  */
    &.anime-9253 {
        background-image: url('../../public/steins-gate-background.jpg');
    }
    /* Mob psycho 100 background  */
    &.anime-37510 {
        background-image: url('../../public/mob-psycho-100-background.jpg');
    }
    /* Ousama Ranking background  */
    &.anime-40834 {
        background-image: url('../../public/ousama-ranking-background.jpg');
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.75);
        background: linear-gradient(0deg, rgba(32,33,36,1) 1%, rgba(32,33,36,0.8) 20%, rgba(32,33,36,0.75) 60%, rgba(32,33,36,0.6) 90%);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    &.single {
        .overlay {
            background: linear-gradient(0deg, rgb(32, 33, 36) 1%, rgba(32, 33, 36, 0.9) 20%, rgba(32, 33, 36, 0.8) 60%, rgba(32, 33, 36, 0.7) 90%);
        }

        .header-anime-content {
            padding-top: 140px;
            padding-bottom: 100px;

            .information {
                max-width: none;

                p {
                    margin: 10px 0 0 0;
                }

                .genre {
                    margin: 10px 0 30px 0;

                    span {
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .header-anime-content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        padding-top: 200px;
        width: 100%;
        max-width: 1400px;
        padding: 190px 50px 120px 50px;
        margin: 0 auto;
        z-index: 2;

        .top-content {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            margin-bottom: 20px;

            h1 {
                font-size: 38px;
                margin: 0;
            }

            h3 {
                font-size: 18px;
                font-weight: 400;
                margin: 8px 0 20px 0
            }

            .stats-box {
                display: flex;
                margin-left: 40px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 6px;
                backdrop-filter: blur(10px);

                > div {
                    padding: 10px 15px;
                    text-align: center;
                    border-right: 1px solid rgba(255, 255, 255, 0.2);

                    p {
                        font-size: 13px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        margin: 0 0 5px 0;
                    }

                    span {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        .anime-image {
            background-size: cover;
            background-position: center;
            width: 320px;
            aspect-ratio: 8 / 11;
            border-radius: 10px;
            margin-right: 50px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.1);
        }

        .information {
            max-width: 700px;
            margin-top: 10px;
            flex: 1;

            .year {
                letter-spacing: 4px;
            }

            h2 {
                font-size: 46px;
                margin: 15px 0 10px 0;
            }

            h3 {
                font-weight: 400;
                margin: 0 0 30px;
            }

            h4 {
                text-transform: uppercase;
                margin: 0;
            }

            .genre {
                span {
                    display: inline-block;
                    margin-right: 10px;

                    .dot {
                        margin-left: 8px;
                        vertical-align: text-top;
                    }

                    &:last-child {
                        .dot {
                            display: none;
                        }
                    }
                }
            }

            p {
                line-height: 1.6;
                margin: 30px 0;
                white-space: pre-line;
            }

            .extra {
                display: flex;
                margin-bottom: 30px;

                div {
                    display: flex;
                    align-items: center;
                    margin-right: 40px;

                    .icon {
                        margin-right: 8px;
                    }

                }
            }
        }
    }
}

/* ---------- Main content  ---------- */
.main-content-wrapper {
    width: 100%;
    max-width: 1400px;
    padding: 0 50px 80px 50px;
    margin: 140px auto 0 auto;

    &.start {
        margin-top: 80px;

        h1 {
            text-align: left;
        }
    }

    &.single {
        margin-top: 0;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
}
/* ---------- Single anime info  ---------- */
.anime-info-content {
    background-color: #191a1c;
    display: flex;
    border-radius: 10px;

    .sidebar {
        width: 320px;
        margin-right: 50px;
        padding: 30px 0 30px 30px;

        p {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .info-label {
            display: block;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 5px;

        }

        div {
            margin-bottom: 20px;
        }

        ul {
            margin-top: 0;
            padding-left: 20px;

            li {
                margin-bottom: 5px;
            }
        }

        a {
            display: block;
        }

        .btn {
            padding: 10px 15px;
        }
    }

    .content {
        flex: 1;
        padding: 30px 30px 30px 0;

        .character-list-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex: 1;

            h2 {
                width: 100%;
            }
        }
    }


}
/* ---------- Pagination  ---------- */
.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .btn {
        padding: 10px 20px;

        span {
            font-size: 15px;
        }
    }

    p {
        margin: 0 20px;
    }
}
/* ---------- Animelist  ---------- */
.anime-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.anime-card {
    color: #ffffff;
    text-decoration: none;
    width: calc(20% - 20px);
    margin: 0 10px;
    margin-bottom: 40px;
    position: relative;

    .anime-image {
        background-size: cover;
        background-position: center;
        width: 100%;
        aspect-ratio: 8 / 11;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 0 6px 3px rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 2;

        &.hover-background-img {
            filter: blur(20px) saturate(150%);
            position: absolute;
            top: 0;
            z-index: 1;
            opacity: 0;
            transition: linear 0.2s;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 14px 0 8px 0;
    }

    .info-wrapper {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 14px;
            display: block;
            opacity: 0.5;
        }

    }

    &:hover {
        .anime-image {
            &.hover-background-img {
                opacity: 1;
            }
        }
    }
}
/* ---------- Trailer  ---------- */
.trailer-wrapper {
    .thumbnail-wrapper {
        background-size: cover;
        background-position: center;
        width: 854px;
        aspect-ratio: 16 / 9;
        position: relative;
        border-radius: 10px;

        .overlay {
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;

            .play-btn {
                background-color: #00ceff;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 5px;
                box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.3);
                transition: 0.4s;

                &:hover {
                    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);
                }
            }


        }
    }
}
/* ---------- Trailer popup  ---------- */
.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgb(0 0 0 / 76%);
    justify-content: center;
    align-items: center;
    display: none;

    &.open {
        display: flex;
    }

    .popup {
        height: 50vh;
        aspect-ratio: 16 / 9;

        .popup-video {
            border-radius: 10px;
        }
    }

    .close-popup {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            opacity: 0.7;
        }
    }
}
/* ---------- Loader  ---------- */
.loader-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    .loader {
        border: 8px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        border-top: 8px solid #00ceff;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
}

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
